salesforce_sfdx/main/default/flows/Notify_User_about_Trial_Expiration_Org.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Email alert to user when the Org is expired</description>
        <name>Send_Email_Alert_to_User</name>
        <label>Send Email Alert to User</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>User.Notify_User_about_Trial_Expiration_Org</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Is_Org_Trial_Expired</name>
        <label>Is Org Trial Expired?</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Org_is_Expired</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TrialExpirationDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NowFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_to_User</targetReference>
            </connector>
            <label>Org is Expired</label>
        </rules>
    </decisions>
    <description>This Flow will notify via email to the created by user of the Org when the Trial Org has been expired</description>
    <formulas>
        <name>NowFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Notify User about Trial Expiration Org {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify User about Trial Expiration Org</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Org_Trial_Expired</targetReference>
        </connector>
        <filters>
            <field>TrialExpirationDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Organization</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-06-23</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>